
model.ipynb
script.py
archive (1).zip
tempory.csv
itineraries_new.csv
itineraries_new2.csv
itineraries_new3.csv
itineraries_new4.csv
itineraries_new5.csv
itineraries_new6.csv
itineraries_new7.csv
itineraries_new8.csv
itineraries_new9.csv
itineraries_new10.csv
itineraries_new11.csv
itineraries_new12.csv
archive